.App {
  text-align: center;
}

.cardContainer {
  justify-content: center;
  background-image: linear-gradient(to top, rgba(26,40,120,0.7), rgba(10,143,196,0.7));
  background-color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formComponent {
  background-image: linear-gradient(to bottom, rgba(26,40,120,0.7), rgba(10,143,196,0.7));
  display:flex;
  align-items: center;
  height: 10vh;
  padding: 0 10vh;
}

.loaderClass {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}