//.card {
//  font-size: 18px;
//  text-align: center;
//  margin-bottom: 12px;
//  cursor: pointer;
//  perspective: 1000px;
//  height: 33px;
//  width: 170px;
//  margin-right: 12px;
//}
//
//.done {
//  .cardInner {
//    transform: rotateY(100deg);
//  }
//}
//
//.cardInner {
//  position: relative;
//  background-color: transparent;
//  width: 100%;
//  height: 100%;
//  text-align: center;
//  transition: transform 0.6s;
//  transform-style: preserve-3d;
//  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
//}

//.root {
//  display: flex;
//  allign-items: center;
//  justify-content: space-around;
//  width: 33%
//
//}

.cardContainer {
  display: flex;
}

.card {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  cursor: pointer;
  perspective: 1000px;
  height: 170px;
  width: 170px;
  margin-right: 12px;

  &.done {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

.cardInner {
  //position: relative;
  margin-top: 12px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 6px 12px;
}

.isRemembered {
  .cardFront,
  .cardBack {
    text-decoration: line-through;
  }
}

.cardFront {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: white;
  text-align: center;
  background-image: linear-gradient(to top, rgba(26,40,120,0.7), rgba(10,143,196,0.7));
  //background-color: #000;
}

.cardBack {
  background-color: #1BB95E;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  font-size: 26px;

  &:hover {
    color: #1BB95E
  }

}

.buttonGroup {
  display: flex;
  justify-content: space-around;
}

.deleteIcon {

}

.crossIcon {

}